<a href="https://colab.research.google.com/github/hyunjung930/machine-learning/blob/hyunjung/d05_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
%run my_init.py

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
%matplotlib inline

In [14]:
df = pd.read_csv('https://bit.ly/perch_csv_data')
df.head()

   length   height   width
0     8.4     2.11    1.41
1    13.7     3.53    2.00
2    15.0     3.82    2.43
3    16.2     4.59    2.63
4    17.4     4.59    2.94

In [16]:
perch_full = df.to_numpy()
perch_full[:5]

array([[ 8.4 ,  2.11,  1.41],
       [13.7 ,  3.53,  2.  ],
       [15.  ,  3.82,  2.43],
       [16.2 ,  4.59,  2.63],
       [17.4 ,  4.59,  2.94]])

In [17]:
perch_length = np.array([8.4, 13.7, 15.0, 16.2, 17.4, 18.0, 18.7, 19.0, 19.6, 20.0, 21.0,
       21.0, 21.0, 21.3, 22.0, 22.0, 22.0, 22.0, 22.0, 22.5, 22.5, 22.7,
       23.0, 23.5, 24.0, 24.0, 24.6, 25.0, 25.6, 26.5, 27.3, 27.5, 27.5,
       27.5, 28.0, 28.7, 30.0, 32.8, 34.5, 35.0, 36.5, 36.0, 37.0, 37.0,
       39.0, 39.0, 39.0, 40.0, 40.0, 40.0, 40.0, 42.0, 43.0, 43.0, 43.5,
       44.0])
perch_weight = np.array([5.9, 32.0, 40.0, 51.5, 70.0, 100.0, 78.0, 80.0, 85.0, 85.0, 110.0,
       115.0, 125.0, 130.0, 120.0, 120.0, 130.0, 135.0, 110.0, 130.0,
       150.0, 145.0, 150.0, 170.0, 225.0, 145.0, 188.0, 180.0, 197.0,
       218.0, 300.0, 260.0, 265.0, 250.0, 250.0, 300.0, 320.0, 514.0,
       556.0, 840.0, 685.0, 700.0, 700.0, 690.0, 900.0, 650.0, 820.0,
       850.0, 900.0, 1015.0, 820.0, 1100.0, 1000.0, 1100.0, 1000.0,
       1000.0])

In [18]:
perch_full.shape, perch_weight.shape

((56, 3), (56,))

In [20]:
train_input, test_input, train_target, test_target = train_test_split(perch_full, perch_weight, random_state = 42)

In [21]:
train_input.shape, train_target.shape

((42, 3), (42,))

In [22]:
test_input.shape, test_target.shape

((14, 3), (14,))

In [26]:
poly = PolynomialFeatures(degree = 2, include_bias = False)
train_poly = poly.fit_transform(train_input)
train_poly.shape #feature가 9개로 늘어남

(42, 9)

In [27]:
poly.get_feature_names_out()

array(['x0', 'x1', 'x2', 'x0^2', 'x0 x1', 'x0 x2', 'x1^2', 'x1 x2',
       'x2^2'], dtype=object)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   length   56 non-null     float64
 1    height  56 non-null     float64
 2    width   56 non-null     float64
dtypes: float64(3)
memory usage: 1.4 KB

In [29]:
test_poly = poly.transform(test_input)

In [30]:
test_poly.shape

(14, 9)

In [31]:
lr = LinearRegression()
lr.fit(train_poly, train_target)

LinearRegression()

In [33]:
r2_score(train_target, lr.predict(train_poly))

0.9903183436982124

In [35]:
r2_score(test_target, lr.predict(test_poly))

0.9714559911594134

In [38]:
#degree가 1~5 중 overfit 혹은 underfit 문제가 해소되는 다중회귀 모델을 만드십시오.
# 두개다 점수가 높아야한다.
for n in range(1, 6):
  poly = PolynomialFeatures(degree=n, include_bias=False)
  train_poly= poly.fit_transform(train_input) #X정보만 줌
  test_poly = poly.transform(test_input)
  lr = LinearRegression()
  lr.fit(train_poly, train_target)
  print(f"degree:{n}, feature #: {train_poly.shape[1]}")
  print(f"train score: {r2_score(train_target, lr.predict(train_poly))}")
  print(f"test score: {r2_score(test_target, lr.predict(test_poly))}", end='\n\n')

degree:1, feature #: 3
train score: 0.9559326821885706
test score: 0.8796419177546367

degree:2, feature #: 9
train score: 0.9903183436982124
test score: 0.9714559911594134

degree:3, feature #: 19
train score: 0.99638723409801
test score: 0.9410534492233222

degree:4, feature #: 34
train score: 0.9995286898074609
test score: -6.7866969165723585

degree:5, feature #: 55
train score: 0.9999999999991097
test score: -144.40579242684848